#destination-info {
  padding: 40px;
  backdrop-filter: blur(5px);
}

.info-header {
  text-align: center;
}

.info-header h1 {
  font-size: 2.6rem;
}

.info-header p {
  opacity: 0.8;
  margin-bottom: 25px;
}

.destination-layout {
  display: flex;
  gap: 30px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

.place-card {
  background: rgba(255,255,255,0.12);
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  backdrop-filter: blur(10px);
}

.place-card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.place-card .info {
  padding: 12px;
}


#place-modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  backdrop-filter: blur(1px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.modal-content {
  display: flex;
  gap: 25px;
  background: rgba(255,255,255,0.12);
  border-radius: 14px;
  padding: 25px;
  max-width: 900px;
}

.photo-side {
  position: relative;
}

.slide-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #00000098;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 8px 14px;
  border-radius: 6px;
}

#prev-img { left: 10px; }
#next-img { right: 10px; }

#modal-img {
  width: 330px;
  height: 260px;
  object-fit: cover;
  border-radius: 10px;
}

.info-side {
  max-width: 450px;
}
