.itinerary-page{
    padding: 20px;
}

.itinerary-box{
    margin : 20px auto;
    background-color: hsla(0, 0%, 0%, 0.597);
    backdrop-filter: blur(5px);
    border-radius: 25px;
}


.days{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.itinerary-details{
    display: flex;

}

.time{
    color: white;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;            /* centers the rotated labels */
    justify-content: space-around;
    gap: 10px;
    margin-right: 20px;



}


.time span{
    transform: rotate(-90deg);
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
}

.time span:hover,
.time span.active {
    opacity: 1;
}
.itinerary-images{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    padding: 10px 0;
    height: 70vh;
    width: 80%;
}
.itinerary-image{
    width:30vw;
    height: auto;
    border-radius: 15px;
    margin: 0 10px;
}


.arrows{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;  
    padding:25px;
    font-size: 1.5rem;
    color: thistle;
    background-color: hsla(0, 0%, 65%, 0);
    border: none;
    cursor: pointer;
}