#chat-toggle {
  position: fixed;
  bottom: 25px;
  right: 25px;
  padding: 14px 22px;
  background: #00c6ff;
  color: black;
  border-radius: 50px;
  border:none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out,box-shadow 0.25s ease-in-out;
  box-shadow: 0 5px 6px hsla(0, 0%, 0%, 0.787);
}

#chat-toggle:hover {
  transform:translate3d(0px,5px,15px);
  box-shadow: none;
}
#chat-container {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 320px;
  height: 450px;
  background: rgba(0,0,0,0.85);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

#chat-header {
  padding: 15px;
  font-size: 1.2rem;
  border-bottom: 1px solid #444;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#chat-box {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.message-bot,
.message-user {
  padding: 8px 12px;
  border-radius: 10px;
  max-width: 80%;
  margin-bottom: 10px;
}

.message-user {
  background: hsla(193, 100%, 50%, 0.776);
  color: black;
  margin-left: auto;

}

.message-bot {
  background: #ffffff20;
}

#chat-input-area {
  display: flex;
  padding: 10px;
  gap: 8px;
}

#user-input {
  flex: 1;
  padding: 8px;
  border-radius: 6px;
  border: none;
}

#send-btn {
  background: #00c6ff;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
