.hero-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.overlay {
  background: hsla(0, 0%, 55%, 0.121);
  backdrop-filter: blur(3px);
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
@keyframes blink {
  0%   { opacity: 1; font-size: 1.5rem;}
  50%  { opacity: 0.5;font-size: 1.3rem; }
  100% { opacity: 1; font-size: 1.5rem;}
}


.press-to-start{
  font-family: 'Alagard', serif;
  font-weight: bolder;
  color: aliceblue;
  background: none;
  border: none;

  animation: blink 4.5s infinite;
}


.menuOptions{
  position: absolute;
  bottom: 100px;
  left: 50px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  z-index: 2;
  transition: opacity 0.5s ease;
}

.menuOptions button{
  font-family: 'Alagard', serif;
  -webkit-text-stroke: 3px #362871;
  font-size: 24px;
  /* text-stroke: 3px #362871; */
  paint-order: stroke fill;

}

.home-container {
  text-align: center;
  padding: 20px;
}

.home-container h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}

.home-container p {
  font-size: 1.2rem;
  margin-bottom: 25px;
}

#start-btn {
  padding: 14px 40px;
}

.main-btn{
  background: none;
  color:white;
  font-weight: bold;
  transition: 0.25s ease-in-out;
}

.main-btn:hover {
  color: #fcbe00;
  transform: translateX(10px);
  position: relative;




}


#trip-setup {
  padding: 40px;
  width: 68vw;
  max-width: 550px;
  margin: 0 auto;
  background: hsla(0, 0%, 55%, 0.121);
  border-radius: 12px;
  backdrop-filter: blur(10px);
}

.trip-heading {
  text-align: center;
  margin-bottom: 25px;
  font-size: 2.3rem;
}

#trip-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#trip-form select,
#trip-form button {
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
}

#trip-form select {
  background: rgba(255,255,255,0.8);
  color: #000;
}

#trip-form button {
  background: #00c6ff;
  color: #000;
  cursor: pointer;
}

